<div id="flash">
<% flash.each do |name,msg| %>
  <div class="alert alert-<%= name %>" role="alert">
      <%= msg %>
    <a href="#" class="alert-link">. Click me to see invoice</a>. 
  </div>
<%end%>
</div>
<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>