<h1>購入履歴</h1>

<ul>
  <% @bill.each do |bill| %>
    <li>
        購入履歴コード:
        <a href="/history_bills/<%= bill.id %>">
            <%= bill.id %>  BILL
        </a>
        <p>ノート: <%= bill.note %></p>
        <p>合計: <%= number_to_currency(bill.total) %></p>
    </li>
  <% end %>
</ul>